@import '../_variables.styl'

.dynamic--item
  width 90%
  min-width 288px
  max-width 400px
  min-height 152px
  margin 15px auto
  padding 15px
  background-color warm-black
  box-shadow 0px 4px 8px rgba(0, 0, 0, 0.16)
  border-radius 4px
  span 
    display inline-block;
    width 25px
    margin-bottom 15px
    height 25px
    margin 0 auto
    margin-bottom 5px
    background-image: url(../../static/icons/laberinto.svg);
    background-size: cover
    background-position center
    background-repeat no-repeat
    color train-yellow
  .dynamic-item--title
    margin-bottom 15px
    letter-spacing 1px
    font-size: 1.8rem
    color soft-white
    font-weight bold
  .dynamic-item--body
    color soft-gray
    letter-spacing 1px
    font-size 1.2rem
    line-height 19px
    margin 0