@import '../_variables.styl'

.dynamic
  background-color alter-black
  padding 20px 10px
  min-height 65vh
  .dynamic-container--title
    width 90%
    min-width 288px
    height auto
    margin 0 auto
    margin-top 50px
    text-align center
    h1
      padding-bottom 20px
      font-size 2rem
      color soft-white
    p
      letter-spacing 1px
      font-size 1rem
      color soft-gray
      span 
        color just-white
.dynamic-cards-container
  max-width 1000px
  margin 0 auto
  display flex
  flex-wrap wrap

