@import '../_variables.styl'

.manual-release
  height 120px
  width 100%
  text-align center
  a
    text-decoration none
    .manual-release-container 
      display flex
      justify-content center
      align-items center
      margin 0 auto
      height 100%
      width 100%
      max-width 900px
      min-width 320px
      background-color alter-black
      text-decoration none
      color soft-white
      h1
        font-size 3rem
        font-weight 300
        color train-yellow
        line-height 4rem
        letter-spacing .8rem
