@import '../_variables.styl'

.meeting-dynamic
  height 45px
  width 100%
  text-align center
.meeting-dynamic-container
  display flex
  justify-content center
  align-items center
  margin 0 auto
  padding-top 10px
  height 100%
  width 100%
  max-width 350px
  min-width 320px
  background-color train-yellow
  h1
    color soft-black
    font-weight: 400
    font-size 20px