@import '../_variables.styl'

.meeting-dynamic
  height 45px
  width 100%
  text-align center
  background-color train-yellow
.meeting-dynamic-container h1
  display flex
  justify-content center
  align-items center
  padding-top 10px
  height 100%
  font-size 20px
  font-weight: 300
  color soft-black