@import '../_variables.styl'

.next-topic
  height 250px
  display flex
  flex-direction: column
  justify-content: center
  width 100%
  min-width: 320px
  height 250px
  text-align center
  background-color train-yellow
  color soft-black
.next-topic--title
  font-size 4.5rem
  font-weight 400
  letter-spacing: 3px
.next-topic--current
  font-size 3.0rem
  letter-spacing: 2px
  font-weight: 300
  margin-top 10px
.next-topic--button
  align-self: center
  font-size 1.3rem
  letter-spacing: 2px
  font-weight: 700
  text-decoration none
  margin-top 20px
  padding 5px 30px
  width 155px
  line-height: 20px
  border 1px solid alter-black
  border-radius: 25px
  color bold-black
