@import '../_variables.styl'

.partners
  height 45px
  width 100%
  text-align center
  a
    text-decoration none
    .partners-container 
      display flex
      justify-content center
      align-items center
      margin 0 auto
      height 100%
      width 100%
      max-width 1100px
      min-width 320px
      background-color alter-black
      text-decoration none
      color soft-white
      h1
        font-size 2rem
        font-weight: 300
