@import '../_variables.styl'

.header
  position relative
  display flex
  align-items flex-end
  width 100%
  min-width 320px
  height 190px
  text-align center
  background bold-green
  color soft-gray

.ss-header--title
  display flex
  flex-direction column
  justify-content flex-start
  text-align left
  padding 20px 20px
  h1
    font-size 3.5rem
    font-weight 300
    letter-spacing .4rem
  h5
    font-size 2.0rem
    font-weight 300
    letter-spacing .4rem
    padding-top 5px

.header__menu
  position absolute
  right 0
  top 35px
  li
    margin 10px 0px
    a:hover
      color: white
  ul
    list-style none
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;    
  ul:hover
    visibility visible
    opacity 1
  &:hover ul
    visibility visible
    opacity 1

.header__menu--profile
  img
    width 40px 