@import '../_variables.styl'

.weekly-challenge
  height 50vh
.weekly-challenge img
  min-width 320px
  width 100%
.weekly-challenge--button
  font-size: 1.3rem
  text-decoration none
  border 1px solid train-yellow
  padding 10px
  border-radius 25px
  color train-yellow
  text-align center
  letter-spacing: 1px
