@import '../_variables.styl'
.week-challenges-item
  display flex
  margin 0 auto
  color soft-gray
  border-top solid 1px gray
  width 100%
  background-color soft-green
  &-container
    display flex
    flex-direction column
    height 100%
    width 100%
    min-height 130px
    padding 20px
  &-container__title
    display flex
    justify-content space-between
    align-items center
    width 100%
  &-container__title-time
    display flex
    align-items center
  h2
    font-weight 400
    font-size 3rem
    color soft-black
  span
    padding 0 2px
    font-size 1.8rem
  &-container__statusAction
      display flex
      justify-content space-between
      padding-top 15px
      align-items center
    span
      font-size 1.3rem
      color black
  p
    padding-top 5px
    font-size 1.6rem
    line-height 2.6rem
    letter-spacing .2rem
