@import '../_variables.styl'
.week-challenges-item
  display flex
  min-height 160px
  margin 0 auto
  color soft-gray
  max-width 1100px
  &-container
    position relative
    width 100%
    background-color soft-green
    padding 20px
    h2
      font-size 2rem
      font-weight 400
    p
      padding-top 5px
      font-size 1.2rem
      line-height 1.6rem
      letter-spacing .2rem
    a
      position absolute
      display inline-block
      right 20px
      bottom 10px