train-yellow = #F8DC5F
train-yellow-hover = #E9CC4C
bold-black = #0D0D0D
warm-black = #282623
soft-gray = #808080
just-white = #ffffff
soft-white = #FCFCFC
soft-black = #282623
alter-black = #201E1C
bold-green = #A7D1AF
soft-green = #BDDFC3
bold-red = #D1A7A7
soft-red = #F3C3C3
bold-purple = #D0A7D1
soft-purple = #E0BFE1
bold-blue = #A7A7D1
soft-blue = #CACAE2