train-yellow = #F8DC5F
black = #0D0D0D
warm-black = #0C0C0C
just-white = #ffffff
soft-white = #FCFCFC
soft-black = #282623
alter-black = #201E1C
bold-green = #A7D1AF
soft-green = #BDDFC3
bold-red = #D1A7A7
soft-red = #F3C3C3
bold-purple = #D0A7D1
soft-purple = #E0BFE1
bold-blue = #A7A7D1
soft-blue = #CACAE2

*
  box-sizing: border-box;
  margin: 0
  padding: 0

body
  background-color: black
  color: train-yellow


html 
  font-size 62.5%;
  font-family 'Comfortaa', cursive;