@import './_variables.styl'

.setSkills-btn:hover
  background train-yellow-hover
.setSkills-btn
      width 100%
      background-color train-yellow
      height 50px
      font-size 1.8rem
      font-weight 300
      color soft-black
      border 0
      cursor pointer